[submodule "Assets/BridgeXR"]
	path = Assets/BridgeXR
	url = git@github.com:linojon/BridgeXR.git
[submodule "Assets/ParkerhillCommon"]
	path = Assets/ParkerhillCommon
	url = git@github.com:linojon/ParkerhillCommon.git
