[submodule "Assets/BridgeXR"]
	path = Assets/BridgeXR
	url = git@github.com:linojon/BridgeXR.git
[submodule "Assets/ParkerhillCommon"]
	path = Assets/ParkerhillCommon
	url = git@github.com:linojon/ParkerhillCommon.git
[submodule "Assets/BridgeXR-public"]
	path = Assets/BridgeXR-public
	url = git@github.com:parkerhillvr/BridgeXR-public.git
